body {
    font-family: Arial, sans-serif;
    max-width: 700px;
    margin: 40px auto;
    padding: 0 20px;
    background-color: #f9f9f9;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  h3{
    color: #686868; ;
  }
  
  .accordion-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .accordion-title {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 15px;
    font-weight: bold;
    cursor: pointer;
    background-color: #f1f1f1;
    transition: background-color 0.3s ease;
  }
  .toggle-icon {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    transition: transform 0.3s ease;
  }
  
  .accordion-title:hover {
    background-color: #e2e2e2;
  }
  
  .accordion-content {
    padding: 15px;
    display: none;
    border-top: 1px solid #ddd;
    background-color: #fff;
  }
  
  .accordion-content.show {
    display: block;
  }
  